*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}
::selection{
    background: #1b1b1b;
    color: #ffffff;
}
.navbar{
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    z-index: 9;
    background: #ffffff;
}
.links-container{
    display:flex;
    list-style: none;
}
.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color:black;
}